# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# misc
*.d
*.dSYM
*.log
*.o
*.so
*.swp
*.swo
*.swn
*.trs
*~
.deps
libtool
Makefile
Makefile.in
hashdb-*.zip
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
configure
*.dirstamp
depcomp
doc/Makefile
doc/user_manual/Makefile
doc/doxygen/html
install-sh
man/Makefile
missing
src/Makefile
stamp-h
stamp-h1
win32
win64
*.exe
*.pdf
.DS_Store
out-*/
src/TAGS
TAGS
core.*
src/hashdb
src/.libs
src/test/source_lookup_encoding_test
src/test/*_test
src/test/temp_*
src_win/win_tests*
hashdb*.tar.gz
space

# python
__pycache__
*.pyc

# doc
*.aux
*.blg
*.out
*.toc
