[submodule "src/dfxml"]
	path = src/dfxml
	url = https://github.com/simsong/dfxml.git
[submodule "src/btree"]
	path = src/btree
	url = https://github.com/Beman/btree
[submodule "src/endian"]
	path = src/endian
	url = https://github.com/Beman/endian
