# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# misc
*.d
*.dSYM
*.log
*.o
*.so
*.swp
*.swo
*.swn
*~
.deps
libtool
Makefile
Makefile.in
hashdb-*.zip
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
doc/Makefile
doc/user_manual/Makefile
doc/doxygen/html
install-sh
man/Makefile
missing
src/Makefile
stamp-h
stamp-h1
win32
win64
*.exe
src_win/hashdb_user_guide.pdf
.DS_Store
out-*/
src/TAGS
TAGS
core.*
src/hashdb
src/hashdb_manager
src/hashdb_checker/hashdb_checker
src/hashdb_manager.exe
src/hashdb_checker/hashdb_checker.exe
src/test/source_lookup_encoding_test
src/test/map_and_multimap_test
src/test/map_manager_test
src/test/multimap_manager_test
src/test/hashdb_iterator_test
src/test/bloom_filter_manager_test
src/test/btree_bug_test
src/test/settings_manager_test
src/test/logger_test
src/test/hashdb_element_test
src/test/map_multimap_iterator_test
src/test/map_multimap_manager_test
src/test/temp_file
src/test/temp_dir
hashdb*.tar.gz
space
doc/design/design.aux
doc/design/design.bbl
doc/design/design.blg
doc/design/design.out
doc/design/design.pdf
doc/design_1_0_0/design.aux
doc/design_1_0_0/design.out
doc/design_1_0_0/design.pdf
doc/hashdb_user_guide/hashdb_user_guide.aux
doc/hashdb_user_guide/hashdb_user_guide.out
doc/hashdb_user_guide/hashdb_user_guide.pdf
doc/scanner_demo/scanner_demo.aux
doc/scanner_demo/scanner_demo.out
doc/scanner_demo/scanner_demo.pdf
