# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# misc
*.d
*.dSYM
*.log
*.o
*.so
*.swp
*.swo
*.swn
*~
.deps
libtool
Makefile
Makefile.in
hashdb-*.zip
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
doc/Makefile
doc/user_manual/Makefile
doc/doxygen/html
install-sh
man/Makefile
missing
src/Makefile
stamp-h
stamp-h1
win32
win64
*.exe
src_win/hashdb_user_guide.pdf
.DS_Store
out-*/
src/TAGS
TAGS
core.*
src/hashdb_manager
src/hashdb_checker/hashdb_checker
src/hashdb_manager.exe
src/hashdb_checker/hashdb_checker.exe
hashdb*.tar.gz
space
doc/design/design.aux
doc/design/design.bbl
doc/design/design.blg
doc/design/design.out
doc/design/design.pdf
doc/hashdb_user_guide/hashdb_user_guide.aux
doc/hashdb_user_guide/hashdb_user_guide.out
doc/hashdb_user_guide/hashdb_user_guide.pdf
